*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(mount.avif);
    background-size: cover;
}
form{
    text-align: center;
    width: 400px;
    height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(30px);
}
form h1{
    font-size: 40px;
}
form ion-icon{
    cursor: pointer;
    font-size: 25px;
}
.input-box{
    position: relative;
    display: flex;
    aling-items: center;
    justify-content: space-between;
    width: 80%;
    border-bottom: 2px solid white;
    margin: 30px 0px
}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    transform: translateY(-30px);
}
.input-box label{
    transition: .3s;
    user-select: none;
    position: absolute;
}
.input-box input{
    background: none;
    outline: none;
    border: none;
    width: 75%;
    height: 25px;
    z-index: 2;
    font-size: 20px;
    color: white;
}
::selection {
background: #ffb7b7; /* Safari */
}



























