*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    list-style: none;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background: #000000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container::before{
    content: '';
    position: absolute;
    height: 330px;
    width: 330px;
    border-radius: 50%;
    background: linear-gradient(#08ffe6, #fcd200);
    transform: translate(-780px, -350px);
}

.container::after{
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(#fcd200, #fc002e);
    transform: translate(780px, 370px);
}

.container .ball-1{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #04f504;
    transform: translate(-450px, 390px);
    position: absolute;
}
.container .ball-2{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #08e2ff;
    transform: translate(-100px, -420px);
    position: absolute;
}
.container .ball-3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffc404;
    transform: translate(150px, 440px);
    position: absolute;
}

.container .box{
    height: 86vh;
    width: 75%;
    padding: 0,20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 10;
    display: flex;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: -15px 17px 17px rgba(10,10,10,0.25);
}



